@charset "UTF-8";
/* CSS Document */

#container {
	width: 100%;
}

button {
	color: rgba(255, 0, 200, .80);
	font-family: sans-serif;
	font-weight: bold;
}

.cat-clicker {
	width:100%;
	background-position: center;
	background-repeat: no-repeat;
}

.cat-clicker h1 {
	font-size: 3rem;
	margin:0;
}
.cat-clicker p {
	font-size: 30rem;
	margin:0;
}
